extends ../layout.pug

block content
    h2 Todos los productos
    table.table
        thead
            tr
                th id
                th Nombre
                th Precio
                th Descripcion
                th Departamento
                th Acciones
        tbody
            each producto in productos.length ? productos : "No existen productos"
                tr
                    td= producto._id
                    td= producto.nombre
                    td= producto.precio
                    td= producto.descripcion
                    td= producto.departamento
                    td
                        a.btn.btn-sm.btn-primary(href="/productos/" + producto._id) Ver
                        a.btn.btn-sm.btn-info.ml-2(href="/productos/edit/" + producto._id) Editar
                        a.btn.btn-sm.btn-danger.ml-2(href="/productos/delete/" + producto._id, onclick="return confirm('Se va a borrar el producto')") Borrar
    
    script.
        

