extends ../layout.pug

block content
	h2 Formulario de nuevo cliente
	form(method="POST" action="/clientes/update")
		.form-group
			label Nombre
			input.form-control(type="text" name="nombre", required, value=cliente.nombre)
		.form-group
			label Apellidos
			input.form-control(type="text" name="apellidos", required, value=cliente.apellidos)
		.form-group
			label Direción
			input.form-control(type="text" name="direccion", required, value=cliente.direccion)
		.form-group
			label Email
			input.form-control(type="text" name="email", required, value=cliente.email)
		.form-group
			label DNI
			input.form-control(type="text" name="dni", required, value=cliente.dni)

		input.form-control(type="hidden" name="_id", required, value=cliente._id)
		input.btn.btn-info.btn-block(type="submit" value="Enviar")